html 
    head 
        title=title 
        //-meta(name="viewport" content="width=416, user-scalable=yes")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
    body
        center
            P
            H1= title
            P 
            span#span_sub
            br
            img#img_cat(src="/images/cat/cat_idle.gif" width="300")
            P
            button#btn_stat.ui.positive.button(onclick="stat()") 상태
            |
            button#btn_feed.ui.button(onclick="feed()") 밥 주기
            |
            button#btn_face1.ui.button(onclick="face1()") 화남
            |
            button#btn_face2.ui.button(onclick="face2()") -ㅅ-
            P 
            #div_stat.box
                table
                    tr 
                        td.topAlign
                            table#tb_stat
                                tr 
                                    th(colspan=3) Statement
                                tr 
                                    td.center 체중
                                    td.right= stat.bw 
                                    td.left kg
                                tr
                                    td.center 근육량
                                    td.right= stat.muscle
                                    td.left kg
                                tr
                                    td.center 체지방량
                                    td.right= stat.fat
                                    td.left kg
                                tr
                                    td.center 체지방률
                                    td.right= stat.fatper
                                    td.left %
                        td.topAlign
                            table#tb_strength
                                tr 
                                    th(colspan=3) 1RM
                                tr 
                                    td.center 스쿼트
                                    td.right= stat.squat 
                                    td.left kg
                                tr
                                    td.center 벤치프레스
                                    td.right= stat.bench
                                    td.left kg
                                tr
                                    td.center 데드리프트
                                    td.right= stat.dead
                                    td.left kg 

    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/main.js")
    script(src="/script/callAjax.js")