html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
    body
        center
            P
            H1= title
            #btn_table.hide(onclick="table()") 
                span.bold 상태
                i.big.caret.square.down.outline.icon
            #div_table(onclick="table()")
                table
                    tr
                        td#td_fatigue.topAlign.fatigue 피로도
                        td
                            #bar_fatigue.ui.progress(style="width:230px;margin:0px" data-value=stat.fatigue data-total="100" onclick="progress()")
                                .bar
                                    #div_fatigue.progress= stat.fatigue
                    tr
                        td.topAlign.energy 포만감
                        td
                            #bar_energy.ui.indicating.progress(style="width:230px;margin:0px" data-value=stat.energy data-total="100" onclick="progress()")
                                .bar
                                    #div_energy.progress= stat.energy
                    tr
                        td.topAlign.condition 컨디션
                        td
                            #bar_condition.ui.teal.progress(style="width:230px;margin:0px" data-value=stat.condition data-total="100" onclick="progress()")
                                .bar
                                    #div_condition.progress= stat.condition
            span#span_sub
            br
            img#img_cat(src="/images/cat/cat_idle.gif" width="300")
            P
            button#btn_feed.ui.button(onclick="feed()") 밥 주기
            |
            button#btn_workout.ui.button(onclick="workout()") 운동
            |
            button#btn_sleep.ui.button(onclick="sleep()") 잠자기
            P 
            #btn_box.hide(onclick="box()") 
                span.bold 능력치
                i.big.caret.square.down.outline.icon
            #div_stat.box(onclick="box()")
                P.bold Lv.
                    span.bold= stat.level
                    |   
                    span#span_race.bold= stat.race
                    |    
                    span#span_name.big= stat.name
                table
                    tr 
                        td.topAlign
                            table#tb_stat
                                tr 
                                    th(colspan=3) Statement
                                tr 
                                    td.center 체중
                                    td.right= stat.bw 
                                    td.left kg
                                tr
                                    td.center 근육량
                                    td.right= stat.muscle
                                    td.left kg
                                tr
                                    td.center 체지방량
                                    td.right= stat.fat
                                    td.left kg
                                tr
                                    td.center 체지방률
                                    td.right= stat.fatper
                                    td.left %
                        td.topAlign
                            table#tb_strength
                                tr 
                                    th(colspan=3) 1RM
                                tr 
                                    td.center 스쿼트
                                    td.right= stat.squat 
                                    td.left kg
                                tr
                                    td.center 벤치프레스
                                    td.right= stat.bench
                                    td.left kg
                                tr
                                    td.center 데드리프트
                                    td.right= stat.dead
                                    td.left kg 
            P
            select#sbx_cat.ui.dropdown(name="cat" onchange="selectCat(this.value)") 
                option(value="") 고양이 선택
                option(value="김냐냐") 치즈태비
                option(value="냐돌이") 턱시도

    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/main.js")
    script(src="/script/callAjax.js")